@keyframes mem-flip {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes mem-note-flip {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
