body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#slider {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* slides */
/* Hide the browser's default checkbox */
.slide {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.slide-img {
    width: 300px;
    height: 300px;
    display: none;
}

.slide-text {
    color: wheat;
    display: none;
}

.slide:checked + .slide-img {
    display: block;
}

.slide:checked + .slide-text {
    display: block;
}

.without-money {
    background-image: url("../assets/without-money.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.doctors-advice {
    background-image: url("../assets/doctors-advice.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.dream-and-life {
    background-image: url("../assets/dream-and-life.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.youth-and-sex {
    background-image: url("../assets/youth-and-sex.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* controls */
.slider-controls {
    display: flex;
    justify-content: flex-end;
}

.custom-control {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

/* Create a custom radio button */
.radio-btn {
    height: 1.5rem;
    width: 1.5rem;
    background-color: blue;
    border-radius: 50%;
}

/* On mouse-over */
.custom-control:hover .radio-btn {
    background-color: white;
}

.slide:checked ~ .slider-controls .custom-control .radio-btn {
    border: 1px solid white;
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-control:after {
    content: " ";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-control input:checked ~ .radio-btn:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-control .radio-btn:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
