@media screen and (max-width: 853px) {
    .slide-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 425px) {
    #slider-wrapper {
        justify-content: center;
    }

    #mem-notes {
        order: 0;
    }

    .slide-text {
        font-size: 0.7em;
    }
}
